name: OSSF Scorecard

on:
  branch_protection_rule:
  push:
    branches: ["main"]
  schedule:
    - cron: "30 1 * * 0"
  workflow_dispatch:

jobs:
  analysis:
    runs-on: ubuntu-latest
    permissions:
      actions: read
      contents: read
      checks: read
      issues: read
      pull-requests: read
      security-events: write
      id-token: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: Run OSSF Scorecard
        uses: ossf/scorecard-action@v2
        with:
          results_file: results.sarif
          results_format: sarif
          publish_results: true

      - name: Upload SARIF to GitHub Code Scanning
        uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: results.sarif

      - name: Upload results artifact
        uses: actions/upload-artifact@v4
        with:
          name: scorecard-results
          path: results.sarif
